<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SportsNutrition</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/sign-btn.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<header class="header">
    <div class="logo">
        <h1>Sport Nutrition</h1>
    </div>
    <nav class="navigation">
        <ul>
            <li><button class="btn"><a asp-area="" asp-controller="Home" asp-action="Containerss">Главная</a></button></li>
            <li class="dropdown">
                <a href="/Catalog/All" >
                    <button id="categoriesBtn" class="btn">Каталог</button>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#category1">Категория 1</a></li>
                    <li><a href="#category2">Категория 2</a></li>
                    <li><a href="#category3">Категория 3</a></li>
                </ul>
            </li>
            <li><button class="btn"><a href="#about">О Нас</a></button></li>
            <li><button class="btn"><a href="#contact">Контакты</a></button></li>
        </ul>
    </nav>
    <div class="auth-cart">
        <button id="loginBtn" class="signin-btn">Войти</button>
        <button id="registerBtn" class="signup-btn">Зарегистрироваться</button>
    </div>

    <button id="cartBtn" class="btn-icon">
        <!-- SVG иконка корзины -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#F2E9E4" viewBox="0 0 24 24">
            <path d="M7 4h10l1 9h-12l1-9zm-1.646-2h13.292l1.176 10h-15.644l1.176-10zm1.646 14c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
        </svg>
    </button>
</header>
<body>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
@await Html.PartialAsync("_LoginRegistrationPartial")
</body>

<footer>
    <div class="footer-content">
        <div class="footer-left">
            <h3>Sport Nutrition</h3>
            <p>Мы предлагаем широкий ассортимент спортивного питания для достижения ваших целей. Надежность, качество и доступность — главные принципы нашего магазина.</p>
        </div>
        <div class="footer-right">
            <div class="contact-info">
                <p>Контакты:</p>
                <p>Email: <a>yoursportnutrition@gmail.com</a></p>
                <p>Телефон: +(373)777-52-746</p>
            </div>
            <div class="social-icons">
                <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>
</html>